html {
    font-size: calc(1em + 1vw); /* Setter grunnstørrelsen på teksten til 18px for hele dokumentet for å gi en standard baseline */
}

*{
    box-sizing: border-box;
}

h1{font-size: 2rem;}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.4rem;}
p, a{font-size: 1rem;}

body{
    text-decoration: none;
    color: #232323;
    font-family: Arial, Helvetica, sans-serif;
}

#main-logo{
    width: 100%; /* Logoen tar opp 100% av containerens bredde */
    max-width: 250px; /* Maksimal bredde for logoen er satt til 250px */
    display: block; /* Gjør logoen til et blokk-element */
    margin: 0px auto; /* Sentrerer logoen horisontalt */
}
#grid-container{
    /* vi lager en grid */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 2rem;
}
#global-header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.banner{
    /* vi bruker flex parametere */
    display: flex;
    flex-wrap: wrap;
    img {
        max-width: 70%;
    }
}


main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

img {
    width: 100%; /* Bildet tar opp 100% av containerens bredde */
    max-width: 400px; /* Maks bredde for bilder er satt til 400px */
}

.flex-menu {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #000;
    }

    #outlet{
        color: red;
    }
}

#søk-knapp{
    visibility: hidden;
    position: absolute;
}

/* #links a{
    color: #000;
} */



#main-logo{
    width: 100%;
    max-width: 250px;
    margin: 0px auto;
    display: block;
}
.flex-space-b{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    
 }
.flex-space-b form{
    position: relative;
}
.flex-space-b form label {
    visibility: hidden; /* Skjuler etiketten fra visning, men beholder den for tilgjengelighet */
    position: absolute; /* Plasserer etiketten absolutt for mer fleksibel layout */
}
.product-card{
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    box-shadow: 6px 10px 30px 4px #bcbcbc;
    border-radius: 4px;
    padding: 1rem;
}

.flex-space-b h2{
    width: 100%;
}

footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}